a {
   color: #4A4041;
}

img {
   vertical-align: middle;
}

body {
   color: #333
}



/* 顶部面包屑 */


/* 商品主体 S */
.detail {
   width: 1200px;
   background: #fff;
   padding: 20px 0;
   overflow: hidden;
}

/* 左边 图片 */
.left-item {
   width: 600px;
   height: 490px;
   border-right: 1px solid #eaeaea;
   position: relative;
   text-align: center;
   float: left;
}

.left-item .item-pic {
   height: 480px;
   width: 480px;
   padding: 10px;
   margin: 0 auto;
   text-align: center
}

.left-item .item-pic h1 {
   width: 410px;
   height: 410px;
   margin: 0 auto;
   position: relative;
}
.middle_img h1 img{
   display: none;
   height: 400px;
   position: absolute;
   top:0px;
   left:0px;
   
}
.middle_img h1 img.active{
   display: block;
}
/* 放大镜样式 */
#div-lg {
   width: 510px;
   height: 510px;
   left: 520px; 
   top: 0px;
   z-index: 998;
   border: 1px solid rgba(0, 0, 0, 0.125);
   position: absolute;
   background-repeat: no-repeat;
   background-color: #fff;
   background-size: 200% 200%;
}

#mask {
   display: none;
   position: absolute;
   width: 150px;
   height: 150px;
   background-color: darkorange;
   opacity: .3;
   left: 0%;
   top: 0%;
}

#super-mask {
   width: 410px;
   height: 410px;
   cursor: all-scroll;
   position: absolute;
   opacity: .3;
   left: 0;
   top: 0;
}

/* 产品小图片 */
.item-pic .slide-nav {
   text-align: center;
   padding-top: 20px;
   font-size: 0;
}

.item-pic .slide-nav li {
   display: inline-block;
   width: 60px;
   height: 60px;
   border-radius: 5px;
   margin: 0 7px;
   cursor: pointer;
   padding-top: 0;
}

.item-pic .slide-nav li img {
   height: 60px;
}

/* 右边/商品简介S */
.right-item {
   position: relative;
   width: 520px;
   margin-right: 80px;
   padding: 0 30px;
   float: right
}

.right-item .item-intr {
   position: relative;
   width: 520px;
   margin-right: 50px;
   padding: 20px 30px;
   font-size: 12px;
   color: #999;
}

.item-intr .item-title {
   margin-left: -10px;
   font: 14px/32px 'microsoft yahei';
   overflow: hidden;
}

.item-intr .item-profit {
   margin-left: -10px;
   height: 50px;
   font: 14px/20px 'microsoft yahei';
   color: #9D1D22;
   margin-bottom: 10px;
}

.item-intr .item-actPrice {
   margin-left: -10px;
   margin-bottom: 0px;
   background-color: #F9F9F8;
   padding: 10px 0 10px 10px;
}

.item-intr .item-actPrice i {
   color: #9D1D22 !important;
   font-family: "microsoft yahei";
}

.item-intr .item-actPrice b {
   font-size: 24px;
   font-weight: bold;
   color: #9D1D22;
   font-family: "microsoft yahei";
}

.right-item .item-intr a.talk {
   vertical-align: super;
}

.right-item .item-intr a.talk {
   width: 67px;
   line-height: 22px;
   color: #9D1D22;
   background: #FDE2A7;
   border-radius: 11px;
   text-align: center;
   font-size: 12px !important;
   display: inline-block;
}

.right-item .item-intr .teq {
   display: inline-block;
   font-size: 12px;
   font-weight: normal;
   letter-spacing: 1px;
   margin-left: 30px;
   line-height: 1.2;
   background-color: #dbb191;
   padding: 0 4px;
   color: #fff;
   margin-right: 10px;
   margin-top: 6px;
}

.item-intr .item-saled {
   margin: 10px 0;
}

.item-intr .item-saled span {
   color: #333;
   padding-right: 20px;
   font-size: 14px;
   vertical-align: bottom;
}

/* 五星评价 */
/* .item-saled .assess {
   width: 100px;
   height: 20px;
   background: url(../images/details/star0.png) repeat-x left center;
   display: inline-block;
} */

.spring {
   width: 100px;
   height: 20px;
   display: inline-block;
   background: url(../images/details/star1.png) repeat-x left center;
   vertical-align: top;
}

.input-group {
   display: inline-block;
   border-collapse: separate;
   margin-bottom: 10px;
   position: relative;
}

.item-intr .item-model .property-name {
   margin-right: 30px;
   color: #999;
}

.item-model .property-value {
   border: 1px solid #9D1D22;
   color: #9D1D22;
   display: inline-block;
   padding: 5px 10px;
   border-radius: 3px;
}

.item-intr .item-model .input-group input[type="text"] {
   width: 60px;
   height: 30px;
   padding-right: 15px;
   margin-right: 10px;
   border: 1px solid #666;
   border-radius: 3px;
   font-size: 14px;
   text-align: center;
}

.item-intr .item-model .input-group .count-btn {
   color: #666;
   text-align: center;
   cursor: pointer;
   position: absolute;
   left: 45px;
}

.item-intr .item-model .input-group .add {
   top: -2px;
}

.item-intr .item-model .input-group .add:before {
   content: "\25B2";
   font-size: 12px;
}

.item-intr .item-model .input-group .cut {
   top: 12px;
}

.item-intr .item-model .input-group .cut:before {
   content: "\25Bc";
   font-size: 12px;
}

.item-intr .item-info {
   padding-top: 0px;
   color: #999;
}

.item-intr .item-info a {
   color: #9D1D22;
   text-decoration: underline;
   margin-left: 1px;
}

.item-intr .item-btn {
   padding-top: 10px;
   margin-bottom: 20px;
}

.item-intr .item-btn a.btn-cart {
   padding: 9px 34px;
   background: none;
   margin-right: 10px;
   font: 14px/20px "microsoft yahei";
   border: 1px solid #9D1D22;
   background-color: #9D1D22;
   color: #fff;
   border-radius: 3px;
}

.item-intr .item-btn a.fav {
   display: inline-block;
   padding: 9px 34px;
   margin-right: 10px;
   font: 14px/20px "microsoft yahei";
   border-radius: 3px;
   color: #fff;
   border: 1px solid #dbb191;
   background: #dbb191;
   cursor: pointer;
}

/* 右边/商品简介End */

/* 推荐套餐S */
.combo {
   background: #fff;
   padding-top: 20px;
   margin-bottom: 15px;
}

.combo>div {
   margin: 0px 77px;
}

.combo h1 {
   font-size: 14px;
   line-height: 20px;
   font-weight: normal;
}

.combo h1 .btn-ctrl {
   display: inline-block;
   border: 1px solid #666;
   border-radius: 2px;
   vertical-align: top;
   margin-left: 15px;
}

.combo h1 .btn-ctrl .prev {
   background: url(../images/details/prev.png) no-repeat center center;
}

.combo h1 .btn-ctrl span {
   float: left;
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.combo h1 .btn-ctrl .next {
   background: url(../images/details/next.png) no-repeat center center;
}

.combo h1 .btn-ctrl span {
   float: left;
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.combo-list {
   width: 100%;
   margin-top: 20px;
   position: relative;
   overflow: hidden;
}

.combo-list .combo-box {
   float: left;
   height: 200px;
   display: block;
   width: 1170px;
   float: left;
}

.combo-list .combo-box>div {
   height: 100%;
   float: left;
}

.combo-list .combo-item {
   width: 160px;
}

.combo-item a img {
   height: 120px;
   padding: 0 20px;
}

.combo-item a .item-name {
   font-size: 12px;
   color: #362719;
   margin-top: 10px;
}

.combo-item a p {
   display: inline-block;
   line-height: 20px;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
}

.combo-char {
   line-height: 120px;
   color: #9C9893;
   font-size: 30px;
}

.combo-box .plus:before {
   content: '\FF0B';
}

.combo-box .equal:before {
   content: '\FF1D';
}

.combo-price {
   width: 300px;
}

.combo-price a {
   margin-top: 42px;
   display: inline-block;
   margin-left: 10px;
}

.combo-price .item-price {
   font-size: 12px;
   display: inline-block;
   color: #362719;
   margin-right: 20px;
}

.combo-price .item-price i {
   font-size: 16px;
   color: #9D1D22;
}

.combo-price .item-price b {
   font-size: 24px;
   font-weight: 700;
   color: #9D1D22;
}

.combo-price .item-buy {
   display: inline-block;
   width: 110px;
   padding: 5px 0;
   font-size: 14px;
   text-align: center;
   border: 1px solid #eaeaea;
   color: #362719;
   border-radius: 3px;
   vertical-align: super;
}

.combo-price .item-buy:hover {
   background: #dbb191;
}

/* 推荐套餐End */

/* 详情S */
.inner-bar {
   position: relative;
   height: 60px;
   z-index: 9999;
}

.inner-bar .center {
   height: 60px;
   background: #F9F1EC;
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0 0 10px #eaeaea;
}

.inner-bar ul {
   width: 790px;
   margin: 0 auto;
   height: 60px;
   font-size: 0;
}

.inner-bar li {
   display: inline-block;
   width: 120px;
   height: 100%;
   line-height: 60px;
   font-size: 14px;
   text-align: center;
}

.inner-bar li a {
   display: inline-block;
   width: 100%;
   height: 100%;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   color: #333;
}

.inner-bar li.on a,
.inner-bar li a:hover {
   border-bottom: 2px solid #dbb191;
}

.inner-bar .addShopcar {
   position: absolute;
   left: 50%;
   margin-left: 280px;
   top: 15px;
   cursor: pointer;
   text-align: center;
   width: 110px;
   font: 14px/32px "microsoft yahei";
   background-color: #9D1D22;
   color: #fff;
   border-radius: 2px;
}

/* 规格参数S */
.product-related {
   background: #fff;
   padding-top: 30px;
}

.product-related .inner-cnt {
   width: 790px;
   margin: 0 auto;
   position: relative;
}

.inner-cnt .maodian {
   position: absolute;
   top: -205px;
}

.dim-list {
   margin: 30px auto 0;
   background: #fff;
   visibility: visible;
}

.dim-list .dim-box {
   border: 1px solid #ECEBE9;
   clear: both;
   padding: 15px 0;
   background: #fff;
   margin-bottom: 20px;
}

.dim-list .dim-box .dim-item-type {
   width: 120px;
   line-height: 30px;
   float: left;
   text-indent: 20px;
   white-space: nowrap;
   font-size: 14px;
   color: #666;
}

.divider {
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #e5e5e5;
}

.dim-list .dim-box .dim-item {
   text-indent: 20px;
   text-overflow: ellipsis;
   white-space: nowrap;
   position: relative;
   /* overflow: hidden; */
}

.dim-list .dim-box .dim-item dt {
   width: 200px;
   float: left;
   text-indent: 20px;
   line-height: 30px;
   font-weight: normal;
}

.dim-list .dim-box .dim-item dd {
   text-indent: 20px;
   line-height: 30px;
   color: #AD734F;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.dim-list .dim-box .dim-item dt.more-info {
   cursor: pointer;
   background: url(../images/details/icon-triangle-4.png) no-repeat 10px center;
}

.dim-list .dim-box .dim-item .more-info-value {
   position: absolute;
   top: 25px;
   left: 140px;
   width: 250px;
   height: 120px;
   padding: 10px 20px;
   background: rgba(236, 234, 232, .8);
   text-indent: 0;
   z-index: 999;
   white-space: normal;
   line-height: 16px;
}

.hide {
   opacity: 0;
}

.more-info:hover~.hide {
   opacity: 1;
}

/* 规格参数End */
/* 评论 */
.product-related .inner-cnt ul.apprise-hd {
   height: 30px;
   margin-top: 40px;
   text-indent: 20px;
   display: block
}

.apprise-hd {
   border: 1px solid #f9f9f9;
   background-color: #f9f9f9;
   font-size: 14px;
   line-height: 30px;
   margin-bottom: 0;
   font-weight: 500;
}

.apprise-hd li {
   float: left;
   margin-right: 20px;
   cursor: pointer;

}

.apprise-hd li .apprise-count {
   color: #9D1D22;
}

.product-related .inner-cnt .eval .eval-box {
   border: 1px solid #F5F4F2;
   padding: 20px;
   background: #fff;
}

.eval .eval-box .eval-user .userName {
   margin-left: 20px;
}

.eval .eval-box .eval-container {
   margin-top: 10px;
   padding-top: 10px;
   background: #f9f9f9;
   line-height: 18px;
}

.eval .eval-box .eval-container>div {
   margin-bottom: 20px;
}

.eval .eval-box .eval-container .attr {
   float: left;
   width: 70px;
   text-align: right;
   font-weight: bold
}

.eval .eval-box .eval-container .value {
   line-height: 18px;
   margin: 0 0 0 80px;
   font-size: 12px;
   color: #9D1D22;
}

.eval .eval-box .eval-container .reply {
   background-color: #fff;
   padding-top: 20px;
}

.pagesize {
   text-align: center;
   background: #fff;
   padding-bottom: 50px;
   padding-top: 30px;
}

/* 分页查询 */


ul.pagination {
   display: inline-block;
}

.pagesize li {
   float: left;
   width: 34px;
   font-size: 14px;
   text-align: center;
   margin-right: 13px;
   line-height: 34px;
   background-color: #f2f2f2;
}

.pagination .pill-left {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.pagination .pill-right {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.pagesize .pagination li a {
   display: inline-block;
   width: 100%;
   color: #333
}

.pagesize li:hover a {
   background-color: #dbb191;
   color: #fff;
}

/* 评论End */
/* 包装清单 */
.product-related .inner-cnt h4 {
   height: 30px;
   margin-top: 20px;
   text-indent: 20px;
   font-size: 18px;
   font-weight: 500;
}

.product-related .packList {
   background: #fafafa;
   padding: 10px 20px;
   font-size: 12px;
   line-height: 20px;
}

.product-related .packList li {
   margin-bottom: 20px;
}

.product-related .packList b {
   color: #C9A391;
   font-weight: normal;
}

.product-related .packList li p {
   color: #9b9b9b;
}